/* Put css styles for cust-order-hist view here */
.badge
{
    background: radial-gradient( center -9px, circle closest-side, white 0, #587397 26px );
    background: -moz-radial-gradient( center -9px, circle closest-side, white 0, #587397 26px );
    background: -ms-radial-gradient( center -9px, circle closest-side, white 0, #587397 26px );
    background: -o-radial-gradient( center -9px, circle closest-side, white 0, #587397 26px );
    background: -webkit-radial-gradient( center -9px, circle closest-side, white 0, #587397 26px );
    background-color: #587397;
    border: 2px solid white;
    border-radius: 12px;
    box-shadow: 1px 1px 1px black;
    color: white;
    font: bold 17px/15px Helvetica;
    height: 18px;
    padding-top: 2px;
    padding-right: 2px;
    text-align: center;
    width: 20px;
    position: relative;
    float: right;
}
